body{ 
    background-image: url("../images/tree.jpg");
    background-repeat: no-repeat;
    background-position: 30% 20%;
    }

a{
    text-decoration: none;
}
a{
    color: black;
}
a:active{
    color: darkgreen;
}
body{ 
    font-family: "Avenir Next Condensed";
    text-align: center;
    font-weight: 400;
    }
p{
    font-family: "Avenir Next Condensed";
    text-align: center;
    font-weight: 400;
 }
h1{
    font-family: "IM FELL English SC";
    text-align: center;
    font-weight: normal;
    font-size: 180%;
    color: black;
    margin: 0% 0%;  
    background: white;
    padding: 1em 0.9em;
        }
.flower img{
    margin: -6em 0 0 0;
}
h2{ 
    font-family: "IM FELL English SC";
    text-align: center;
    font-weight: normal;
    font-size: 130%;
    background: white;
    padding: .5em 0.8em;
    margin: 0% 0%;
  }
/*h3{
        font-family: "IM FELL English SC";
        text-align:center;
        font-weight: normal;
        font-size: 120%;
        background: white;
        padding: .14em .2em;
        margin: 8% 22%;
    }*/
h4{
    font-family: "IM FELL English SC";
    color: black;
    text-align: center;
    font-size: 130%;
    margin: 20% 20%;    
}
h5{ 
    font-family: "IM FELL English SC";
    font-size: 130%;
    text-align: center;
    padding: 8.5em 0.5em 1em;
}
nav ul{
    background: white; 
    width: 60%;
    margin: 12% auto;
}
nav ul li{
    border: 2px;
    text-align: center;
    padding: 2% 0 2% 0;
}
nav ul li a{
    font-family: "IM FELL English SC";
}
.jobs ul li{
    padding: .5em;  
}
.contact ul li{
    padding: .3em .3em;
}
.exper{
    width: 90%;
}
.prof{
    width: 90%;
}
div{
    padding: 2em 2em 1em 2em;
}

/* for tablets: */
@media only screen and (min-width: 768px){
    body{
        background-image: url();
        background-repeat: no-repeat;
        background-position: 30% 20%;
        background-color: rgb(116,127,104);
    }  
    h1{
        font-size: 230%;
        background: none;
        padding: 3em 0 0 0;
    }
    .flower img{
      margin: -2.5em 0 0 0;
      width: 30%;
    }
    h2{ 
        background: none;
        padding: .125em 0 0 0;
    }
    nav ul {
        background: none;
        float: left;
        width: 100%;
        position: relative;
        left: 50%;
        margin: -.25em 0 0 0;
        padding-bottom: 5%;
    }
    nav ul li{
        display: inline-block;
        width: 22.5%;
        position: relative;
        right: 50%;
        background-color: white;
    }
    h5 {
        padding: 4em 0 .5em 1em;
    }
    .hola_hello{
        float: left;
        width: 40%;
        text-align: center;
    }
    .more_hola{
        float: right;
        width: 40%;
        text-align: center;
    }
    .prof{
        width: 50%;
        float: left;
        margin: 2em 1em 0 3em;
        line-height: 150%;
    }
     .exper{
        float: left;
        width: 50%;
        margin: 2em 1em 0 3em;
        line-height: 150%;
    }
    .jobs ul{
        width: 30%;
        float: left;
        margin: auto;
    }
    .images{
        float: center;
    }
    .bottom {
        clear: both;
        border: .5px solid black;
        margin: 41%;
        padding: .5em .5em .5em .5em;   
    }
    .aboutme{
        float: left;
        width: 38%;
    }
    .abroad{
        float: right;
        width: 38%;
    }
    .contactme{
        margin: 1.5em 0 0 0;
    }
    .contactme p{
        width: 60%;
        float: left;
    }
    .contact ul{
        color: black;
        width: 20%;
        float: right;
    }
}

/* For desktop: */
@media only screen and (min-width: 1024px){
    
    h1{
        font-size: 230%;
    }
    .jobs ul li{
        padding: .5em 1em;
    }
    .flower img{
       width: 25%;
    }
     .hola_hello{
        float: left;
        width: 30%;
    }
    .more_hola{
        float: left;
        width: 30%;
    }
     .versailles{
        float: left;
        width: %;
        padding: 0;
    }
    .enjoy{
        clear: both;
    }
}


    